/* =============
    Sign In Modal
============= */
#sign-up-modal {
    display: none;
    background-color: #024A58B3;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;

    form {
        background-color: #024A58CC;
        padding: 24px;
        box-sizing: border-box;
        border-radius: 8px;

        #close-btn-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 24px;
        }

        input {
            width: 100%;
            box-sizing: border-box;
            height: 45px;
            margin-bottom: 24px;
            border: none;
            border-radius: 8px;
        }

        #sign-up-btns-container {
            display: flex;
            justify-content: flex-end;

            button {
                border: 1px solid var(--white);
                padding: 12px 20px;
                color: var(--white);
                transition: 0.25s;
                border-radius: 8px;
                font-size: rem-calc(18);
                font-weight: 400;
            }

            #send-btn {
                background-color: var(--light-green);
                margin-right: 20px;
            }

            #cancel-btn {
                background-color: var(--light-red);
            }

            #send-btn:hover {
                background-color: var(--gray);
            }

            #cancel-btn:hover {
                background-color: var(--red);
            }
        }
    }

}