/* =============
    Footer
============= */
footer {
    color: var(--white);
    padding-top: 100px;

    div {
        h3 {
            margin-bottom: 30px;
        }
        form {
            margin-top: 25px;
        }
    }

    ul {
        list-style-type: none;
        li {
            a {
                color: var(--white);
                text-decoration: none;
            }
        }
    }

    #copyright {
        margin-top: 30px;
        margin-bottom: 35px;
    }

    #email {
        background-color: var(--black);
        color: var(--white);
        border-radius: 5px 0px 0px 5px;
        padding: 15px 30px;
        &::placeholder {
            color: var(--white);
        }
        &:-ms-input-placeholder { /* Edge 12 -18 */
            color: var(--white);
          }
    }
}