/* =============
    Header
============= */
header {
    padding: 22.5px 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "logo burger"
    "nav nav"
    "btns btns";

    @include md {
        padding: 12px 24px;
        grid-template-columns: 50% auto 4%;
        grid-template-areas: 
        "logo btns burger"
        "nav nav nav"
    }

    @include xl {
        grid-template-columns: 20% auto 30%;
        grid-template-areas: 
        "logo nav btns"
    }

    #logo-container {
        display: flex;
        align-items: center;
        grid-area: logo;
    }

    #burger-container {
        display: flex;
        justify-content: end;
        align-items: center;
        grid-area: burger;

        @include xl {
            display: none;
        }
    }

    nav {
        // see navigation partial for scss
        grid-area: nav;
    }

    .showBtns {
        display: flex !important;
    }

    #sign-in-up-btns-container {
        display: none;
        justify-content: end;
        align-items: center;
        grid-area: btns;

        @include md {
            display: flex;
        }

        @include xl {
            display: flex;
        }

        button {
            margin-top: 25px;
            border-radius: 8px;
            padding: 16px 24px;
            font-size: rem-calc(18);
            font-weight: 400;
            @include md {
                margin-top: 0px;
            }
        }

        #sign-in-btn {
            background-color: var(--aqua-green);
            color: var(--white);
            margin-right: 16px;
            border: none;
            transition: 0.25s;
        }

        #sign-in-btn:hover {
            background-color: var(--light-green);
        }

        #sign-up-btn {
            background-color: var(--white);
            color: var(--aqua-green);
            border-color: var(--aqua-green);
            border: 1px solid var(--aqua-green);
            transition: 0.25s;
        }

        #sign-up-btn:hover {
            background-color: var(--gray);
            color: var(--white);
            border: 1px solid var(--white);
        }
    }
}