/* =============
    Buttons
============= */
#send-btn {
    color: var(--white);
    background-color: var(--baby-blue);
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 30px;
}