/* =============
    Buttons
============= */
.try-package-btn {
    color: var(--baby-blue);
    padding: 15px 30px;
    margin: 40px 69px 50px 68px;
    border: none;
    border-radius: 5px;
    background-color: var(--baby-blue-trans);
}